*.o
rars1_6.jar
image_data
result
.vscode
__pycache__
simulation

# ignore Quartus II generated folders
*/db/
*/incremental_db/
*/simulation/
*/timing/
*/testbench/
*/*_sim/
incremental_db/
db/
_output_files/
PLLJ_PLLSPE_INFO.txt


.qsys_edit
unsaved
platform
.metadata

*.png
*.bak
/db
/simulation
/incremental_db
*.rpt
*.summary
*.done
*.jdi
*.qdf
*.cdf
*.pin
*.pof
*.qws
*.log
*.chg
/.sopc_builder
/sopc_builder_log.txt
/nios_system_log.txt
*.html
*.bsf
*.ptf.*
/.metadata
*.elf
*.map
*.objdump
obj
*.swp
*.a
nios_workspace